<div class="card">
    <div class="card-header">Sample</div>
    <div class="card-body">
      <div class="table-responsive" style="text-align: center;">
          <table class="table">
              <thead>
                  <tr>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Description</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                        <!-- 
                          *ngIf removes or recreates the element / if the element is empty, nothing displays
                          *ngFor (like a for loop) repeats a Dom tree if there are items on the list
                        -->
                          <img>
                      </td>
                      <td>Name</td>
                      <td>Name</td>
                      <td>Name</td>
                      <td>Name</td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  